.customCarousel {
  position: relative;
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65rem;
    overflow: hidden;
    gap: 3rem;
    .buttons {
      position: absolute;
      //top: -17.1rem;
      //right: 36.5rem;
      top: -26.3%;
      right: 19.3%;
      .arrow_left {
        width: 7rem;
        stroke: var(--def);
        transition: 0.3s;
      }
      .arrow_left:hover {
        stroke: var(--contacts);
      }
      .arrow_right {
        width: 7rem;
        stroke: var(--def);
        transition: 0.3s;
      }
      .arrow_right:hover {
        stroke: var(--contacts);
      }
    }
    .image {
      width: 97rem;
      height: 65rem;
    }
  }
}
