.circle {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--def);
  color: var(--def);
  .text {
    font-weight: 600;
    font-size: 1.6rem;
  }
}
.black {
  border: 1px solid var(--text);
  color: var(--text);
}
