.main {
  overflow: hidden;
  background-image: url('../../images/Background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  max-height: 90rem;
  .content {
    display: flex;
    flex-direction: column;
    .header {
      margin-top: 5.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--def);
      font-weight: 500;
      justify-content: space-between;
      .logo {
        width: 27rem;
      }

      .header_elements {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        margin-right: 13rem;
        margin-left: 10rem;

        .header_element {
          font-size: 1.6rem;
        }
      }

      .header_contact {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
      .header_burger {
        display: none;
        fill: var(--def);
        width: 3rem;
      }
    }

    .container_info {
      margin-top: 16rem;
      color: var(--def);
      .container_open {
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
      }
      .container_title {
        margin-top: 2.2rem;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 8.8rem;
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4rem;
      .button {
      }
      .circles {
        display: flex;
        gap: 2.3rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main {
    background-size: 125%;
    .content {
      .header {
        margin-top: 1rem;
        .logo {
          width: 20rem;
        }
        .header_elements {
          margin-left: 25rem;
          margin-right: 5rem;
        }
      }
      .container_info {
        margin-top: 10rem;
      }
    }
  }
}

@media (max-width: 710px) {
  .main {
    background-size: 175%;
    .content {
      .header {
        margin: 1rem 5rem;
        .logo {
          width: 15rem;
        }

        .header_elements {
          display: none;
        }
        .header_contact {
          display: none;
        }
        .header_burger {
          display: unset;
          fill: var(--def);
          width: 5rem;
        }
      }
      .container_info {
        margin: 5rem;
      }
      .footer {
        justify-content: center;
        .circles {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main {
    background-size: 275%;
    .content {
      .header {
        margin: 1rem;
        .logo {
          width: 5rem;
        }
      }

      .container_info {
        margin: 1rem;
        .container_title {
          font-weight: 700;
          font-size: 4rem;
          line-height: 5rem;
        }
      }
    }
  }
}
