.main {
  background-image: url('../../images/Background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  height: 90rem;
  .content {
    display: flex;
    flex-direction: column;
    max-width: 117rem;
    margin: 0 auto;
    .header {
      margin-top: 5.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--def);
      font-weight: 500;
      justify-content: space-between;
      .logo {
        img {
          width: 27rem;
        }
      }

      .header_elements {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        margin-right: 13rem;
        margin-left: 10rem;

        .header_element {
          font-size: 1.6rem;
        }
      }

      .header_contact {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
      .burger {
        display: none;
        fill: var(--def);
        stroke: var(--def);
        width: 3rem;
      }
    }

    .container_info {
      margin-top: 16rem;
      color: var(--def);
      .container_open {
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
      }
      .container_title {
        margin-top: 2.2rem;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 8.8rem;
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4rem;
      .button {
      }
      .circles {
        display: flex;
        gap: 2.3rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main {
    background-size: auto 100%;
    background-position: center;
    .content {
      padding: 0 3rem;
      .header {
        margin-top: 3rem;

        .header_elements {
          margin-left: 5rem;
          margin-right: 5rem;
        }
      }
      .container_info {
        margin-top: 15rem;
      }
      .footer {
        margin-top: 10rem;
      }
    }
  }
}

@media (max-width: 765px) {
  .main {
    background-size: auto;
    .content {
      .header {
        margin: 3rem 5rem;
        .logo {
          img {
            width: 35rem;
          }
        }
        .header_elements {
          display: none;
        }
        .header_contact {
          display: none;
        }
        .burger {
          display: unset;
          fill: var(--def);
          width: 5rem;
        }
      }
      .container_info {
        text-align: center;
        margin: 10rem 5rem;
      }
      .footer {
        justify-content: center;
        margin-top: 3rem;
        .circles {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main {
    .content {
      padding: 0 1rem;
      .header {
        margin: 3rem;
        .logo {
          img {
            width: 20rem;
          }
        }
        .burger {
          width: 4rem;
        }
      }
      .container_info {
        margin-top: 10rem;
        .container_title {
          font-weight: 700;
          font-size: 4rem;
          line-height: 5rem;
        }
      }
      .footer {
      }
    }
  }
}
