.Carousel {
  background-color: var(--back-blue);
  height: 60rem;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 117rem;
    .description {
      display: flex;
      margin-top: 6.8rem;
      flex-direction: column;
      .title {
        font-weight: 700;
        font-size: 4.8rem;
        color: var(--def);
        height: 8.8rem;
        display: flex;
        align-items: center;
      }
      .text {
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--def);
        line-height: 3.2rem;
        max-width: 50rem;
      }
    }
    .arrows {
      margin-top: 5rem;
      .arrow_left {
        width: 7rem;
        stroke: var(--def);
        transition: 0.3s;
      }
      .arrow_left:hover {
        stroke: var(--contacts);
      }
      .arrow_right {
        width: 7rem;
        stroke: var(--def);
        transition: 0.3s;
      }
      .arrow_right:hover {
        stroke: var(--contacts);
      }
    }
  }
  .customCarousel {
  }
}

@media (max-width: 765px) {
  .Carousel {
    .wrapper {
      margin: 0 1rem;
      .description {
        width: 100%;
        align-items: center;
      }
      .text {
        text-align: center;
        width: unset;
      }
    }
    .arrows {
      display: none;
      .arrow_left {
      }

      .arrow_right {
      }
    }
  }
}
