.footer {
  padding-top: 40rem;
  max-width: 117rem;
  margin: 0 auto;
  position: relative;
  .communication {
    display: flex;
    flex-direction: row;
    gap: 9.6rem;
    .contacts {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 50rem;
    }
    .questions {
      max-width: 67rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .forms {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .input_title {
          font-weight: 400;
          font-size: 1.6rem;
          color: var(--text);
          height: 3.2rem;
          display: flex;
          align-items: center;
        }
        .firstInputs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .firstInputs_input {
              width: 32rem;
              height: 8rem;
              .textarea_horizontal {
                width: calc(100% - 3.2rem);
                height: calc(100% - 5.6rem);
              }
            }
          }
        }
        .thirdInput {
          width: 67rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .thirdInput_input {
            width: 100%;
            height: 12.5rem;
          }
          .textarea_third {
            width: calc(100% - 3.2rem);
            height: calc(100% - 5.6rem);
          }
        }
      }
    }
  }
}
.title {
  font-weight: 700;
  font-size: 4.8rem;
  height: 8.8rem;
  display: flex;
  align-items: center;
}
textarea {
  resize: none;
  border: solid 0.1rem var(--textarea-border);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text);
  padding: 2.8rem 1.6rem;
  width: 100%;
  height: 100%;
}
textarea::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text-light);
}

.modal {
  position: fixed;
  transition: 0.5s;
  z-index: 4;
  width: 50%;
  bottom: 40%;
  right: 25%;
  left: 25%;
}

.modal_disable {
  position: fixed;
  transition: 0.5s;
  bottom: -100%;
  right: 25%;
  left: 25%;
}

@media (max-width: 800px) {
  .footer {
    .communication {
      flex-direction: column;
      align-items: center;
    }
  }
  .modal {
    width: 75%;
    right: 12.5%;
    left: 12.5%;
  }
  .modal_disable {
    bottom: -100%;
    width: 75%;
    right: 12.5%;
    left: 12.5%;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 95%;
    right: 2.5%;
    left: 2.5%;
  }
  .modal_disable {
    bottom: -100%;
    width: 95%;
    right: 2.5%;
    left: 2.5%;
  }
}

@media (max-width: 480px) {
  .footer {
    .communication {
      margin: 0 1rem;
      .title {
        justify-content: center;
      }
      .questions {
        .title {
          text-align: center;
        }
        .forms {
          align-items: center;
          .firstInputs {
            flex-direction: column;
            gap: 1rem;
          }
          .thirdInput {
            width: 32rem;
          }
        }
      }
    }
  }
  .modal {
    bottom: 25%;
  }
}

@media (max-width: 350px) {
  .modal {
    bottom: 10%;
  }
}
