.modal_send {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  box-shadow: 0 0 30px var(--back-blue);
  background-color: var(--def);
  align-items: center;
  gap: 5rem;
  .text {
    font-weight: 500;
    font-size: 3.6rem;
    height: 100%;
    line-height: 4rem;
    margin: 5rem 5rem 0 5rem;
    color: var(--text);
  }
  .close {
    margin-bottom: 5rem;
  }
}

@media (max-width: 528px) {
  .modal_send {
    gap: 2rem;
    .text {
      font-size: 2.2rem;
      line-height: 3rem;
      margin: 3rem 2rem 0 2rem;
    }
    .close {
      margin-bottom: 2rem;
    }
  }
}
