.contact {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
  .icon {
    background-color: var(--contacts);
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .svg {
      max-width: 2.4rem;
      max-height: 2.4rem;
      stroke: var(--def);
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    max-height: 6.4rem;
    gap: 1.6rem;

    .title {
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--text);
    }
    .text {
      font-weight: 500;
      font-size: 2.4rem;
      color: var(--text);
    }
  }
}

@media (max-width: 410px) {
  .contact {
    gap: 1rem;
    .icon {
      max-width: 4rem;
      max-height: 4rem;
    }
  }
}
