$palette: (
  white: #fff,
  blue: #3a4574,
  brown: #d3b47f,
  black: #000,
  grey: #e7e7e7,
  grey-dark: #808080,
  greyC: #cccccc,
);

$light-theme: (
  def: map-get($palette, white),
  back-blue: map_get($palette, blue),
  contacts: map_get($palette, brown),
  text: map-get($palette, black),
  line: map_get($palette, grey),
  text-light: map_get($palette, grey-dark),
  textarea-border: map_get($palette, greyC),
);
