.menu_list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  .title {
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--text);
  }
  .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    margin: 2rem 0;
    .description_title {
      font-weight: 400;
      font-size: 1.8rem;
      color: var(--text);
    }
    .circle {
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background-color: var(--contacts);
    }
  }
  .line {
    border: none;
    background-color: var(--line);
    color: var(--line);
    height: 0.1rem;
  }
}

@media (max-width: 480px) {
  .menu_list {
    .description {
      justify-content: center;
    }
  }
}
