.menu {
  position: fixed;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  right: 0;
  top: 0;
  background-color: var(--menu);
  backdrop-filter: blur(10px);

  .svg_wrapper {
    margin: 0 1rem;
    display: flex;
    align-self: end;
    cursor: pointer;
    .svg {
      width: 12rem;
      height: 12rem;
      fill: var(--def);
      transition: 0.3s;
    }
    .svg:hover {
      fill: var(--back-blue);
    }
  }
  .menu_element {
    padding-bottom: 1.5rem;
    font-size: 7rem;
    color: var(--def);
    margin: 0 3rem;
    border-bottom: 0.2rem solid var(--def);
    cursor: default;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 2rem;
    .menu_element_svg {
      stroke: var(--def);
      width: 5rem;
      height: 5rem;
      transition: 0.3s;
    }
  }
  .menu_element:hover {
    color: var(--back-blue);
    border-bottom: 0.2rem solid var(--back-blue);
    .menu_element_svg {
      stroke: var(--back-blue);
    }
  }
  .menu_element:last-child {
    display: flex;
    height: 100%;
    align-items: end;
    margin-bottom: 1.5rem;
    font-size: 5rem;
  }
}

@media (max-width: 528px) {
  .menu {
    width: 100%;
    .svg_wrapper {
      margin: 0;
      .svg {
        width: 10rem;
        height: 10rem;
      }
    }
    .menu_element {
      font-size: 5rem;
      gap: 1rem;
      .menu_element_svg {
        width: 3rem;
        height: 3rem;
      }
    }
    .menu_element:last-child {
      font-size: 3rem;
    }
  }
}

@media (max-width: 330px) {
  .menu {
    .menu_element {
      font-size: 4rem;
      .menu_element_svg {
        width: 2rem;
        height: 2rem;
      }
    }
    .menu_element:last-child {
      font-size: 2rem;
    }
  }
}
